---
---
<div class="max-w-4xl mx-auto p-6 mt-12">
  <nav class="mb-1" data-astro-transition-scope="astro-zscz5gm2-1">
    <div class="flex items-center gap-2 justify-between">
      <a href="/" class="group text-2xl font-bold flex items-center gap-0.5 duration-500 ease-lazy rounded-lg hover:scale-[100.5%] active:scale-[99%] hover:ring-border/60 hover:bg-border/60 no-underline" style="transition:background-color 0.5s var(--ease-lazy), box-shadow 0.5s var(--ease-lazy)">
        <svg xml:space="preserve" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 8 8" width="48" style="padding-top: 2px" data-astro-cid-cnu5gvpy="" astro-icon="logomark" class="-rotate-12 group-hover:-rotate-3 transition-transform duration-500 ease-lazy">
          <path fill="none" d="M0 0h7.2v7.2H0z"></path>
          <path fill="#d9d9d9" d="M1.883 3.158h-.528v1.898h.528v.787h.264v.261h.793v.277h.254v.254H4.27v-.254h.781v-.277h.266v-.261h.264V2.366H1.883v.792Z"></path>
          <path fill="#fff" d="M2.94 3.513h1.056v.876H2.94zM4.524 3.513H5.58v.876H4.524z"></path>
          <path fill="#1e1d1d" d="M5.581 4.389v-.528h-.528v.528h.528ZM3.996 4.389v-.528h-.528v.528h.528Z"></path>
          <path fill="#a2a2a2" d="M5.581 6.042V4.658h-.264v.133h-.5v.132H3.209v.204h-.533v-.336h-.265v-.264h-.264v-.264h-.264v.264h-.264v.529h.264v.528h.264v.264h.264v.264h.529v.256h.367v.267h1.746v-.267h.264v-.326h.264Zm-2.274-.854v.534h1.378v-.534H3.307Z"></path>
          <path fill="#4c4c4c" d="M5.14.83V.565H3.204V.83H2.94v.264H1.619v.792h-.264v.528h-.264v1.057h.264v1.056h.264v-.969h.528v.969h.264V2.414h3.434v-.528h.264v-.792h-.264V.83H5.14Z"></path>
          <path fill="#1e1d1d" d="M4.259 6.635h-.791v.264h.792v-.264h.791V6.37h-.792v.265ZM2.94 6.371v-.259h-.529v.264h.529v.259h.528v-.264H2.94Zm2.377-.267h-.264v.264h.264v-.264Zm-2.906-.256h-.264v.264h.264v-.264Zm3.17-.008h-.264v.264h.264V5.84Zm-3.962-.784v-.529h-.264v.793h.264v.264h.264v.264h.264v-.264h-.264v-.528h-.264Zm3.962-2.335v-.835h.264V5.84h-.264V2.985h-.66v-.264h.66ZM4.524 5.619v-.264H3.468v.264h1.056ZM1.091 3.471V2.414H.827v1.057h.264v1.056h.264V3.471h-.264Zm2.905-.222v-.264H2.94v.264h1.056Zm.925-.264h-.265v.264h.265v-.264ZM1.355 1.886h-.264v.528h.264v-.528ZM1.619.83v.264h-.264v.792h.264v-.792h.528V.83h-.528Zm4.49.792v.264h-.264v-.264h.264ZM6.373.83v.792h-.264V.83h.264Zm-3.962.264h-.264v.264h.264v-.264ZM6.109.83v.264h-.264V.83h.264ZM2.94.83h-.529v.264h.529V.83h.264V.565H2.94V.83ZM5.845.565V.83h-.792V.565H4.26V.83h-.792V.565h-.264V.301h.264v.264h.792V.301h.793v.264h.792Z"></path>
        </svg>
        boim.things()
      </a>
      <button id="theme-toggle" type="button" aria-label="Toggle theme" class="p-2 rounded-lg duration-500 ease-lazy transition-all hover:scale-[100.5%] active:scale-[99%] hover:ring-border hover:bg-border">
        <svg class="w-8 h-8 hidden dark:block" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M4 5H3v3h1Zm0 0h3V4H4Zm-3 6h1v-1H1Zm1-1h1V9H2Zm3 2h1v-2H5ZM0 7h2V6H0Zm4 2h3V8H4ZM1 3h1V2H1Zm1 1h1V3H2Zm6 6h1V9H8Zm1 1h1v-1H9ZM7 8h1V5H7ZM5 3h1V1H5Zm4 4h2V6H9ZM8 4h1V3H8Zm1-1h1V2H9Zm0 0"></path>
        </svg>
        <svg class="w-8 h-8 block dark:hidden" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M6 3h1V2h1V1H5v1h1Zm-5 7h1V9H1Zm1 1h1v-1H2ZM0 9h1V8h1V7H1V6H0Zm3 3h5v-1H3ZM2 9h4V8H2Zm6 2h1v-1H8ZM6 8h1V7H6Zm3 2h1V9H9ZM7 7h1V3H7Zm3 2h1V4h-1ZM8 3h1V2H8Zm1 1h1V3H9Zm0 0"></path>
        </svg>
      </button>

    </div>
    <div class="flex items-center gap-4 mt-4">
      <a href="/" aria-current="page" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-text">
        <span class="absolute inset-0 -mx-2.5 -my-1 bg-border/60 rounded-full" aria-hidden="true" data-astro-transition-scope="astro-srdvutyk-2"></span>
        <span class="relative">Home</span>
      </a>
      <a href="/blog" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-muted/70 hover:text-text">
        <span class="relative">Blog</span>
      </a>
      <a href="/about" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-muted/70 hover:text-text">
        <span class="relative">About</span>
      </a>
      <a href="/uses" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-muted/70 hover:text-text">
        <span class="relative">Uses</span>
      </a>
      <a href="/videos" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-muted/70 hover:text-text">
        <span class="relative">Videos</span>
      </a>
    </div>
  </nav>
</div>