---
---
<div class="pt-6">
  <div class="max-w-4xl mx-auto p-6">
    <nav class="mb-1" data-astro-transition-scope="astro-zscz5gm2-1">
      <div class="flex items-center gap-2 justify-between">
        <a href="/" class="group text-2xl font-bold flex items-center gap-2 duration-500 ease-lazy rounded-lg hover:scale-[100.5%] active:scale-[99%] hover:ring-border/60 hover:bg-border/60 no-underline" style="transition:background-color 0.5s var(--ease-lazy), box-shadow 0.5s var(--ease-lazy)">
          <img src="/favicon.webp" alt="boim.thinks() logo" width="24" height="24" class="rounded-full group-hover:-rotate-3 transition-transform duration-500 ease-lazy mr-2" />
          boim.thinks()
        </a>
        
          <img src="/favicon.svg" alt="boim.thinks() logo" width="36" height="36" class="rounded-full group-hover:-rotate-3 transition-transform duration-500 ease-lazy" />

      </div>
      <div class="flex items-center gap-4 mt-4">
        <a href="/" aria-current="page" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-text">
          <span class="absolute inset-0 -mx-2.5 -my-1 bg-border/60 rounded-full" aria-hidden="true" data-astro-transition-scope="astro-srdvutyk-2"></span>
          <span class="relative">Home</span>
        </a>
        <a href="/blog" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-muted/70 hover:text-text">
          <span class="relative">Blog</span>
        </a>
        <a href="/about" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-muted/70 hover:text-text">
          <span class="relative">About</span>
        </a>
        <a href="#" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-muted/70 hover:text-text">
          <span class="relative">Uses</span>
        </a>
        <a href="#" class="text-xs uppercase tracking-wide transition-colors relative px-1 py-0.5 text-muted/70 hover:text-text">
          <span class="relative">Videos</span>
        </a>
      </div>
    </nav>
  </div>
</div>